.select {
    width: 100%;
    max-width: 320.02px;
    position: relative;
    margin-bottom: 15px;
    font-weight: 400;
    text-align: center;
    background: none;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-size: 23.99px;
    color: #C8C8C8;
}
.select .selectBtn {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
}
.select .selectBtn::after {
    background-image: url("img/Shape 2 copy.png");
    content: "";
    position: absolute;
    top: 45%;
    right: 15px;
    width: 6px;
    height: 6px;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    transition: 0.2s ease;
}
.select .selectBtn .toggle {
    border-radius: 3px 3px 0 0;
}
.select .selectBtn .toggle::after {
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}

.select .selectDropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #eee;
    z-index: 1;
    overflow: auto;
    background: #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    visibility: hidden;
    transition: 0.2s ease;
    color: #435993;
}
.select .selectDropdown .option {
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.select .selectDropdown .option:hover {
    background: #f8f8f8;
}
.select .selectDropdown.toggle {
    visibility: visible;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.select .selectDropdown::-webkit-scrollbar {
    width: 14px;
}

.select .selectDropdown::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 1000px;
    background-color: rgb(217, 217, 217);
    height: 121px;
}


.regular-checkbox {
    /*-webkit-appearance: none;*/
    background-color: white;
    border: 1px solid #435993;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    appearance: auto;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:hover, .regular-checkbox:checked:hover {
    background-color: #e9ecee;
}
.regular-checkbox:checked {
    background-color: #435993;
    background-image: url("../img/checkbox-checked.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border: 1px solid #435993;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.regular-checkbox:checked:after {
    background-image: url("../img/checkbox-checked.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}
.big-checkbox {
    padding: 18px;
}
.big-checkbox:checked:after {
    font-size: 28px;
    left: 6px;
}


input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #CCB1F1;
    border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
    height: 50px;
    width: 24px;
    border-radius: 3px;
    background-image: url("../img/slider_btn.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:hover::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #CCB1F1;
    border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
    height: 50px;
    width: 24px;
    border-radius: 3px;
    background-image: url("../img/slider_btn.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #CCB1F1;
    border-radius: 1.3px;
}
input[type=range]::-ms-thumb {
    height: 50px;
    width: 24px;
    border-radius: 3px;
    background-image: url("../img/slider_btn.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

::placeholder {
    color: #C8C8C8;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #C8C8C8;
}
::-ms-input-placeholder {
    color: #C8C8C8;
}